@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, fantasy, night;
}

@layer base {
  .font-outline-1 {
    -webkit-text-stroke: 1px #000000;
  }

  .font-outline-2 {
    -webkit-text-stroke: 2px #000000;
  }

  .font-outline-4 {
    -webkit-text-stroke: 4px #000000;
  }
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
    scale: 105%;
  }

  50% {
    transform: translateX(5px);
    scale: 110%;
  }

  75% {
    transform: translateX(-5px);
    scale: 105%;
  }
}

.animate-shake {
  animation: shake 0.3s ease-in-out;
}

button {
  cursor: pointer;
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slideInRight {
  animation: slideInRight 0.3s ease-out forwards;
}

/* Retirer les flèches de l input type number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}